* {
  list-style: none;
  text-decoration: none;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgba(29, 27, 27, 0.726);
  height: 10%;
  width: 100%;
  position: fixed;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.navbar a{
    color: white;
}
.navbar img {
  object-fit: cover;
  width: 200px;
  height: 200px;
}

.navbar input {
  color: black;
  width: 100px;
}
.navbar input::placeholder {
  color: black;
  font-size: 1.2em;
  font-style: italic;
  text-align: center;
}
.navbar a:hover {
  opacity: 0.5;
}
