.detalhesFilmeModelo {
  font-variation-settings: "FILL" 0, "wght" 400, "GRAD" 0, "opsz" 24;
}
body {
  background-color: black;
  color: white;
}
.filmeModelo {
  margin: 35px;
  display: grid;
  grid-template-columns: 1fr 1.8fr;
  max-width: 1000px;
}
.filmeModelo img {
  object-fit: contain;
  width: 300px;
  height: 100%;
}
.detalhesFilme {
  padding-left: 0px;
}
.tituloFilme {
  font-weight: bold;
  font-size: 50px;
  padding: 10px;
  padding-left: 0px;
}
.iconesFilme {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  padding-bottom: 10px;
}
.anoLancamento {
  position: absolute;
  padding: 5px;
}
.tempoDuracao {
  position: absolute;
  padding: 5px;
}
.diretorElenco {
  padding-bottom: 10px;
}
.diretorBold {
  font-weight: bold;
}
.elencoBold {
  font-weight: bold;
}
.buttonFilme {
  background-color: blueviolet;
  opacity: 0.2;
  width: 60px;
  height: 25px;
  border-radius: 15px;
  margin-bottom: 10px;
}
.botaoFilme {
  color: white;
  opacity: 1;
  padding: 5px;
  padding-left: 10px;
}
.favoritar {
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.sessaoComentarios {
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  margin: 15px;
}
.comentarios {
  font-size: 30px;
  padding-bottom: 10px;
}
.avisoEntreNaConta {
  color: red;
  padding: 20px;
  padding-left: 0px;
}
.caixaComentario {
  width: 500px;
  height: 100px;
  opacity: 0.1;
  border-radius: 15px;
  color: white;
}
